.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.uppercase {
  text-transform: uppercase;
}

.inline-blocks {
  display: inline-block;
}

.header-content {
  background-image: url("images/header.jpg");
  background-size: cover;
  height: 1057px;
  padding: 0 150px 0 150px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.logo {
  float: left;
  margin-left: 67px;
  width: 140px;
  height: 45px;
  font-family: 'Domine', serif;
  font-size: 20px;
  color: white;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 9px;
  background: #fa5c65;
  border-bottom-right-radius: 7px; 
  border-bottom-left-radius: 7px;
}

.black-point {
  color: black;
}

.red-point{
  color: red;
  font-size: 24px;
}

.top-menu {
  float: right;
  overflow: hidden;
  height: 25px;
  padding: 5px 20px 10px 0px;
  margin-right: 0px;
}

.top-menu li { 
  display: inline;
  font-size: 14px;
  margin: 0 10px 20px 18px;
  text-align: center;
}

.top-menu li a {
  color: black;
  text-decoration: none;
}

.top-menu .fab {
  font-size: 18px;
  color: #fa5c65;
}

.header-bottom {
  width: 600px;
  margin-top: 300px;
  padding-left: 70px;
}

.title-message { 
  font-size: 24px;
  font-weight: bolder;
  font-family: 'Open Sans', sans-serif;
  line-height: 55px;
  margin-top: 50px;
  margin-bottom: -25px;
}

.lower-message {
  letter-spacing: 1px;
  margin-bottom: 63px;
}

.header-button-link {
  margin-top: 50px;
  background: #fa5c65;
  color: white;
  border-radius: 7px;
  padding: 27px 34px;
  text-decoration: none;
}

.main-section {
  padding: 25px 180px;
  font-family: 'Open Sans', sans-serif; 
}

.show-article {
  display: inline-block;
  width: 25%;
  margin: 35px;
}

.show-article h2 {
  width: 80%;
  line-height: 28px;
  font-weight: bolder;
}

.short-description {
  color: #9aa0ab;
  font-size: 14px;
}

.article-link {
  color: red;
  text-decoration: none;
}

.portfolio {
  margin-top: 80px;
  padding-left: 40px;

}

.portfolio-image {
  width: 40%;
  display: inline-block;
}

.portfolio-info {
  position: relative;
  top: -30px;
  margin-left: 100px;
  width: 40%;
  display: inline-block;
}

.portfolio-title {
  font-size: 38px;
  font-weight: 900;
}

.portfolio-short-description {
  font-weight: bold;
}

.portfolio-link {
  margin-top: 100px;
}

.our-team {
  overflow: hidden;
  margin-top: 90px;
  padding-left: 40px;
}

.our-team span {
  font-size: 28px;
  font-weight: 800;
}

.team-member {
  display: inline-block;
  vertical-align: top;
  width: 33%;
}

.team-member-photo {
  display: inline-block;
  width: 40%;
  vertical-align: top;
}

.team-member-info {
  display: inline-block;
  width: 40%;
  margin-left: 20px;
  margin-top: 20px;
}

.team-member-info span{
  font-size: 22px;
  margin-bottom: 5px;
}

.team-member-specialisation {
  font-size: 14px;
  color: #fa5c65;
  margin-top: 5px;
  font-weight: bold;
}

.short-description {
  margin-top: 7px;
  width: 100%;
}

.footer-content {
  margin: 53px 180px 0 200px;
  border-top: 1px solid grey;
  padding-top: 20px;
}

.social-icons {
  float: left;
}

.designet-by {
  float: right;
  color: grey;
  font-size: 14px;
}

.social-icons-list .fab{
  margin-right: 12px;
  color: grey;
}